.Header {
    &__content{
        margin-top: 25px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    &__left{
        display: flex;
    }
    &__logo{
        width: 44px;
        height: 44px;
        margin-right: 15px;
    }
    &__description{

    }
    &__subtext{
        font-size: 22px;
        color: var(--black);
        text-transform: uppercase;
        font-weight: 900;
    }
    &__secondaryText{
        font-size: 12px;
        color: var(--color-subtext);
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
    &__number{
        font-weight: 600;
        font-size: 18px;
        color: var(--black);
    }
    &__call{
        font-size: 15px;
        color: #999;
    }
    &__nav{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-top: 41px;
        width: 100%;
    }
    &__links{
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }
    &__btn{
    }
    @media (max-width: 630px) {
        &__nav{
            display: none;
        }
        &__right{
            display: none;
        }
        &__secondaryText{
            display: none;
        }
        &__description{
            display: flex;
            align-items:center;
        }
    }
}
.dashed{
    height: 0px; 
    width: 100%;          
    border-top: 2px dotted #000; 
    opacity: 0.1;
}