:root{
    --black: #000;
    --gray-carporate: #F3F3F7;
    --gray-dark: #73798C;
    --orange-corporate: #F96900;
    --orange-dark: #D15700;
    --orange-light: #FFF0E6;
    --footer-color: #464C55;
    --color-subtext: #343434;
}
